@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<UmbracoInstallsModel>

@{
    ViewData["Title"] = "Search";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Search.css"/>
</head>
<body>

<form asp-controller="Search" asp-action="Search">
    <div class="search_row">

        <div class="search_box">
            @Html.DropDownList("SearchOptions", new SelectList(Enum.GetValues(typeof(SearchOptions))))
        </div>

        <div class="SearchFromDateText">
            <p>Start Date: </p>
        </div>

        <div class="SearchFromDateBtn">
            <input class="DateFrom" type="date" name="FromDate">
        </div>

        <div class="SearchToDateText">
            <p>End Date: </p>
        </div>

        <div class="SearchToDateBtn">
            <input class="DateFrom" type="date" name="ToDate">
        </div>

        <div class="SearchText">
            <input type="text" name="SearchString"/>
        </div>

        <div class="SearchButton">
            <input type="submit" name="SearchButton" value="Search" class="btn btn-primary"/>
        </div>

        <div class="SearchExport">
            <input type="submit" value="Export" name="ExportButton"/>
        </div>
    </div>
</form>

<!-- INFO BOX -->
<div class="info_box">
    <div class="box">
        <h2>Total @ViewBag.SelectedFilter</h2>
        <hr>
        <h1>@ViewBag.TotalInstances</h1>
    </div>
</div>

<div class="spacer">
    <hr>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
    <tr>
        <th>
            Continent
        </th>
        <th>
            Country
        </th>
        <th>
            City
        </th>
        <th>
            Packages
        </th>
        <th>
            Version
        </th>
        <th style="width: 8%">
            Date
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var obj in Model)
    {
        <tr>
            <td>
                @obj.Continent
            </td>
            <td>
                @obj.Country
            </td>
            <td>
                @obj.City
            </td>
            <td>
                @obj.Package
            </td>
            <td>
                @obj.Version
            </td>
            <td>
                @obj.Date.ToString("yyyy-MM-dd")
            </td>
        </tr>
    }
    </tbody>

</table>

</body>
</html>